# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ qgui ]
  pull_request:
    branches: [ qgui ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  ubuntu-touch:
    strategy:
      fail-fast: false
      matrix:
         build: [Release, Debug]
         arch: [amd64, armhf, arm64]

    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          # Fetch the whole tree so git describe works
          fetch-depth: 0
          submodules: true
      - name: Install clickable
        run: |
          # For whatever reason, I have to manually install runc before docker.io or containerd, else it fails because of broken dependency
          # Using apt-get because apt complains it shouldn't be used in scripts
          sudo apt-get update
          sudo apt-get install -y runc
          sudo apt-get install -y docker.io adb git python3 python3-pip
          pip3 install --user git+https://gitlab.com/clickable/clickable.git@debug
          # Clickable requires a reboot/logout. This is a sneaky way to bypass that :^)
          sudo systemctl unmask docker.service
          sudo systemctl start docker.service
      - name: Build
        env:
          BUILD_TYPE: ${{ (matrix.build == 'Debug') && '--debug' || '' }}
          ARCH: ${{ matrix.arch }}
        run: clickable build --verbose ${BUILD_TYPE} --arch ${ARCH} --config clickable.json
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: "ubports-${{ matrix.arch }}--click"
          path: build/all/app/*.click
          if-no-files-found: ignore
      - name: Publish to Open Store
        if: ${{ github.ref == 'refs/heads/qgui' && matrix.build == 'Release' }}
        env:
          ARCH: ${{ matrix.arch }}
          OPENSTORE_KEY: ${{ secrets.OPENSTORE_KEY }}
        run: clickable publish "* $(git log -1 --pretty=%B | head -1)" --apikey ${OPENSTORE_KEY} --config clickable.json --arch ${ARCH}
